<h3>Orders</h4>
<% if (cookies[:ordered_items].nil? || cookies[:ordered_items].empty?) && @has_no_orders %>
  <h3>You have no orders yet</h3>
<% end %>
<% if (!cookies[:ordered_items].nil? && !cookies[:ordered_items].empty?) %>
  <h4 class="margin-bottom0px">IN PROGRESS</h4>
  <hr class="margin-top0px">
  <%= render partial: "shared/items_summary" %>
  <p class="float-right margin-right9 margin-bottom5">SUBTOTAL:&nbsp;<b><%=@total%>$</b></p>
<% end %>
<% unless @orders_in_progress.empty? %>
  <h4 class="margin-bottom0px clear-both">WAITING FOR PROCESSING</h4>
  <hr class="margin-top0px">
  <%= render partial: "orders_status", locals: { orders: @orders_in_progress } %>
<% end %>
<% unless @orders_in_delivery.empty? %>
  <h4 class="margin-bottom0px clear-both">IN DELIVERY</h4>
  <hr class="margin-top0px">
  <%= render partial: "orders_status", locals: { orders: @orders_in_delivery } %>
<% end %>
<% unless @orders_delivered.empty? %>
  <h4 class="margin-bottom0px clear-both">DELIVERED</h4>
  <hr class="margin-top0px">
  <%= render partial: "orders_status", locals: { orders: @orders_delivered } %>
<% end %>