<div id="main" class="width90 align-center"> 
  <div class="float-left width80">
    <% if category.nil? %>    
      <h3>Shop</h3>
    <% else %>
      <ul class="list-inline padding-bottom0px margin-bottom0px max-height20px">
        <li class="remove-sides-paddings"><a href="/books" class="internal-ref main-home-link">HOME</a></li>
        <li class="remove-sides-paddings"><p class="vertical-align-middle font-size20px">&raquo;&raquo;</p></li>
        <li class="remove-sides-paddings"><a href="/books/index_shop" class="internal-ref main-shop-link">SHOP</a></li>        
      </ul>
      <h3 class='margin-top0px'>Categories - <%=category%></h3>
    <% end %>
    <div class="row">
      <% @books.each_with_index do | book, index | %>
        <div class="width33 display-inline-block">
          <%= image_tag book.cover, { class: "display-block align-center", size: '160' } %>
          <%= link_to book.title, book_path(book), { class: "text-align-center display-block" } %>
          <p class="text-align-center"> $<%= book.price %> </p>
        </div>
        <% if (index + 1) % 3 == 0 %>
          <div class="clearfix visible-md-block"></div>
        <% end %>          
      <% end %>
    </div>
    <% if pages_number > 1 %>
      <div class="text-center">
        <ul class="pagination">
          <% if active_page != 1 %>
            <li class="pagination-item" id=<%="#{active_page-1}"%>><span>&laquo;</span></li>        
          <% else %>
            <li class="disabled"><span>&laquo;</span></li>
          <% end %>
          <% for i in 1..pages_number %>
            <% if (i == active_page) %>
              <li class="active pagination-item" id=<%= "#{i}" %> ><span><%= i %> <span class="sr-only">(current)</span></span></li>
            <% else %>
              <li class="pagination-item" id=<%= "#{i}" %>><span><%= i %></span></li>
            <% end %>
          <% end %>
          <% if active_page != pages_number %>
            <li class="pagination-item" id=<%="#{active_page+1}"%>><span>&raquo;</span></li>        
          <% else %>
            <li class="disabled"><span>&raquo;</span></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="display-inline float-right width20">
    <h3 class="visibility-hidden">w</h3>
    <ul class="list-unstyled float-right" id="categories">
      <li><p class="font-size14px">SHOP BY CATEGORIES</p></li>
      <li><a href="/books/index_shop?category=Mobile+development" class="internal-ref" id="mobile-dev">Mobile development</a></li>
      <li><a href="/books/index_shop?category=Photography" class="internal-ref" id="photography">Photography</a></li>
      <li><a href="/books/index_shop?category=Web+design" class="internal-ref" id="web-design">Web design</a></li>
      <li><a href="/books/index_shop?category=Web+development" class="internal-ref" id="web-dev">Web development</a></li>    
    </ul>
  </div>
</div>