<div class="main width65 align-center">
  <h3><%= @book.title %></h3>
  <%= image_tag @book.cover, { class: "display-inline", size: '220' } %>
  <div class="form-inline position-absolute margin-left30px display-inline-block width36">
    <div class="form-group">
      <label class="sr-only" for="price">Price</label>
      <span class="label label-default form-control font-size21px" id="price">
        <%= "$"+@book.price.to_s %>
      </span>    
    </div>
    <div class="form-group">
      <div class="input-group  margin-left55">
        <input type="text" class="text-align-right width60px form-control spinedit" value='1'/>
        <span class="input-group-btn">
          <button class=" btn btn-default" id="add-to-cart" type="submit">ADD TO CART</button>
        </span>
      </div>
    </div>
    <div class="margin-top20px padding-all10px display-inline-block">
      <p class="break-word font-size16px"><%= @book.description %></p>
    </div> 
  </div>          
  <div class="margin-top30px margin-bottom15px">
    <h5 class="display-inline font-size16px"><strong>Reviews</strong></h5>
    <% if user_signed_in? %>
      <% if @add_review %>
        <%= link_to 'Add review', '#', { class: "margin-left30px dislpay-inline", id: "add-review"} %>
      <% end %>
    <% else %>
      <%= link_to 'Sign in to add review', '/users/sign_in', { class: "margin-left30px dislpay-inline"} %>    
    <% end %>    
  </div>
  <form class="form-horizontal display-none width65 align-center" id="review-form" role="form">
    <% for i in 1..5 %>
      <input name="star" id="star" type="radio" class="star review-rating" value=<%="#{i}"%> />
    <% end %>                    
    <div class="form-group">
      <label class="sr-only" for="short-feedback">Short Feedback</label>
      <input type="text" class="form-control width65" id="short-feedback" placeholder="Short feedback"/>
    </div>
      <textarea class="width90 form-control margin-bottom5px" id="comment" rows="3" placeholder="Review"></textarea>
    <button type="button" id="send-review" class="width10 btn btn-default margin-bottom10px">Send</button>
  </form>
  <% @book.ratings.each do |rating| %>
    <% user = User.where(id: rating.user_id).first %>
    <div class="row margin-left0px vertical-align-text-bottom">   
      <% for i in 1..5 %>
        <% if i==rating.mark %>
          <input name=<%="star#{rating.id}"%> type="radio" class="star" checked="checked" disabled="disabled"/>
        <% else %>
          <input name=<%="star#{rating.id}"%> type="radio" class="star"  disabled="disabled"/>
        <% end %>
      <% end %>
      <div class="col-xs-9">
        <p class="display-inline-block"><strong><%= rating.title %></strong></p>
        <p class="display-inline-block margin-left30px"><small>by <%= link_to user.firstname+' '+user.lastname, user_path(user.id) %></small></p>
      </div>
      <p class="display-inline-block text-align-right"><small><%= rating.updated_at.to_date.to_formatted_s(:long) %></small></p>        
    </div>
    <% if rating.comment != '' %>
      <div class="well well-lg">
        <p class="break-word margin-bottom0px"><%= rating.comment %></p>
      </div>    
    <% end %>
  <% end %>
</div>
